@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #131313;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
    z-index: -1;
    display: none;
}

html::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 5px !important;
    z-index: -1;
    background-color: #787878;
    transition: all 0.2s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #969696;
}
